 @font-face {
    font-family: licenceplateusa;
    src: url(fonts/licenceplateusa.ttf);
} 
@font-face {
    font-family: Jersey;
    src: url(fonts/Jersey.ttf)
}

body {
    font-family: licenceplateusa;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 3fr 2fr;
    grid-template-rows: 100px 150px 400px 100px;
     background: rgb(0,125,255);
    background: linear-gradient(90deg, rgba(0,125,255,1) 0%, rgba(141,164,230,1) 50%, rgba(35,158,255,1) 100%, rgba(0,212,255,1) 100%); 
    
}



.strip1 { /*Left Navigation*/
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(40, 90, 251);
    border-radius: 8px;
    border: 1px solid;
    box-shadow: 0px 0px 6px 2px black;
    
}

.strip1 img {
    cursor: pointer;
    width: 25%;
    margin-left: 50px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.strip1 img:hover {
    width: 80px;
    margin-left: 48px;
    margin-top: 6px;
}

.strip2 { /*Right Navigation*/
    grid-column: 5/6;       
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(40, 90, 251);
    border-radius: 8px;
    border: 1px solid;
    box-shadow: 0px 0px 6px 2px black;
    
}

.strip2 img {
    width: 25%;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.strip2 img:hover {
    width: 80px;
    margin-left: 45px;
    margin-top: 10px;
}

.midStrip { /*Middle Navigation*/
    margin-left: 300px;
    margin-right: 300px;
    grid-column: 2/5;    
    grid-row: 1/2;     
    background-color: rgba(40, 90, 251);
    border-radius: 8px;
    border: 1px solid;
    box-shadow: 0px 0px 6px 2px black;
    
    
}
.headtext1 {    
    text-shadow:
        -3px -3px 0 #ffff, 
        3px -3px 0 #ffff,
        -3px  3px 0 #ffff,
        3px  3px 0 #ffff;
    color: rgba(254,42,42,254);
    font-size: 72px;
    margin-top: 5px;
    margin-left: 340px;
    grid-column: 2/3;
    grid-row: 1/2;

}

.headtext2 {
    color: rgba(20, 55, 215);
    text-shadow:
    -3px -3px 0 #ffff, 
     3px -3px 0 #ffff,
    -3px  3px 0 #ffff,
    3px  3px 0 #ffff;
    font-size: 70px;
    margin-top: 5px;
    grid-column: 4/5;
    grid-row: 1/2;
}


.midStrip img {
    grid-column: 3/4;
    width: 100px;
    margin-left: 255px;
    
}

.midUI {
    background-color: rgba(40, 90, 251);
    grid-column: 2/5;
    grid-row: 3/4;
    border-radius: 8px;
    border: 1px solid;
    box-shadow: 0px 0px 7px 4px black;

    

}
    .midUItext {
        text-shadow:
        -3px -3px 0 #ffff, 
         3px -3px 0 #ffff,
        -3px  3px 0 #ffff,
        3px  3px 0 #ffff;
        grid-column: 2/5;
        grid-row: 2/3;
        margin-top: 60px;
        font-size: 30px;
        text-align: center;
        font-size: 70px;
       
    }

    .Indextext1 {
        color: white;
        text-shadow: 3px 3px 5px black;
        margin-top: 40px;
        margin-left: -70px;
        grid-column: 3/5;
        grid-row: 3/4;
        font-size: 50px;
        text-align: center;
        position: relative;
    }

    .indexCase { 
        margin-top: 50px;
        margin-left: 80px;
        grid-column: 2/3;
        grid-row: 3/4;
        transform: rotate(15deg);
    }

    .copyright {
        box-shadow: 0px 0px 2px 2px black;
        margin-top: 25px;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 25px;
        border-radius: 8px;
        grid-row: 4/5;
        grid-column: 2/5;
        background-color: rgba(40, 90, 251);
    }

    .copyrightText {
        font-size: 20px;
        grid-column: 2/5;
        grid-row: 4/5;
        text-align: center;
        margin-top: 38px;
    }

    .image3 {
        margin-top: 20px;
        grid-column: 3/4;
        grid-row: 3/4;
        cursor: pointer;
        
    }

    .leftArrow {
        cursor: pointer;
        margin-top: 150px;
        margin-left: 385px;
        grid-row: 3/4;
        grid-column: 2/3;
        width: 100px;
    }

    .rightArrow {
        cursor: pointer;
        margin-top: 150px;
        grid-row: 3/4;
        grid-column: 4/5;
        width: 100px;
    }

    h2 { /*Heading for About and Shipping.html*/
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
        color: white;
        margin-left: 220px;
    }

    .aboutCase {
            grid-column: 2/3;
            grid-row: 3/4;
            transform: rotate(15deg);
            margin-top: 90px;
            margin-left: 50px;
    }

    .aboutText { /*About.HTML and Shipping.HTML ui text*/
        grid-column: 2/5;
        grid-row: 3/4;
        margin-top: 100px;
        font-family: Jersey;
        text-align: center;
        font-size: 35px;
        margin-left: 220px;
    }